@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100;400&family=Merriweather:wght@300&display=swap');

*{
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

nav{
	background: #fff;
	width: 100%;
	display:flex;
}

nav ul{
	float:right;
	width:100%;
	justify-content: space-around;
	list-style: none;
	display: flex;
	justify-content: space-around;
}

.menu > li {
	position: relative;
	display: inline-block;
}

nav ul li {
	padding: 0px 7%;
}

.menu > li > a{
	display: block;
	padding: 20.7px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

.submenu {
	z-index: 1;
	position: absolute;
	background: #fff;
	width: 94%;
	opacity: 0;
	transition:opacity 1s;
	margin: 0px center;
	display:block;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #333333;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

nav li ul li {
	position: relative;
}
nav li ul li ul {
	right: -240px;
	top: 0px;
}
.escudotec{
	width:45px;
	height:45px;

}
.escudotec img {
	position: absolute;
	top: 5px;
	left: 10px;
}

.planilla {
	font-family: 'Anek Devanagari', sans-serif;
	box-shadow: 0px 0px 1px 2px #b8b7b6;
	top: 80px;
	position: relative;
	color: black;
	padding: 10px 20px;
	text-decoration: none;
	margin: 0 25%;
	background: #e0e0e0;
	
}

.docu {
	font-family: 'Merriweather', serif;
	padding-top: 50px;
	margin-left: 33%;
}

.info {
	margin-left: 10%;
}

h3 {
	font-family: 'Merriweather', serif;
}

.plani {
	padding-bottom: 5px;
}

.docu2 {
	text-decoration: underline;
	padding-top: 30px;
	padding-bottom: 15px;

}

.info ul {
	font-family: 'Merriweather', serif;
	padding-left: 30px;
}

.info li { 
	padding-bottom: 5px;
}

p{
 	font-family: 'Merriweather', serif;
}