@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100;400&family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@300&display=swap');
:root
{
    --menu-toggle:#000;
}
*{
	margin: 0;
	padding: 0;
}
html {
    scroll-behavior: smooth;
  }
.slider{
	width: 100%;
	padding: 0px;
	overflow: hidden;
}
.ep::after
{
    content: '';
}

.slider ul{
	display: inline-flex;
	width: 400%;
	animation: cambio 20s infinite alternate-reverse;	
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider li img{
	width: 100%;
	filter: blur(2px);
}

@keyframes cambio {
	0% {margin-left: -300%;}
	20% {margin-left: -300%;}

	25% {margin-left: -200%;}
	45% {margin-left: -200%;}

	50% {margin-left: -100%;}
	70% {margin-left: -100%;}

	75% {margin-left:  0%;}
	100% {margin-left: 0%;}
}
	
.tec7{
	position: relative;
	text-align: center;
	font-family:'Trirong', serif;
	color: white;	
	letter-spacing: 4px;
	font-weight: 100;
	font-size: 50px;
	padding: 50px 0;
    background-color: rgba(0, 0, 0, 0.5);
    bottom:25rem;
}

.flecha {
	position: relative;
	margin: 0 48.5%;
	width:50px;
	height: 50px;
	bottom: 260px;
	filter: opacity(0.5) drop-shadow(0 0 0 white);
}
	
/*----------------------------------------menu--------*/

nav{
    background: #fff;
	width: 100%;	
}
.ep{
	padding: 0.7em 0;
	list-style: none;
    display:flex;
    justify-content: space-around;
}

.menu > li {
	position: relative;
	display: inline-block;
}



.menu li a{
	display: inline-flex;
	padding: 20.7px 0;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}





/*-------------------------Escudo tecnica-------------------*/

.escudotec img {
	position: absolute;
	top: 5px;
	left: 10px;
}


/*-----------------------------Texto-----------------*/

.indice1 p {
	font-family:'Maven Pro';
}

h1 {
	display: block;
	padding: 15px;
	font-family:fantasy;
	text-decoration: none;
}

.quienesomos{
	text-decoration: overline blink;
	padding-top: 30px;
	text-align: center;
	font-weight: 900;
	letter-spacing: 4px;
	font-size: 40px;
}

.contenedor p{
	position: relative;	
	text-align: center;
	font-family:'Trirong', serif;
	letter-spacing: 4px;
	padding-bottom: 50px;
    margin-top:10px;
}

.modalidades{
    font-size: 50px;
	text-decoration: overline;
}
.iconos{
    display:flex;
    justify-content: center;
    gap:30%;
}
.txts{
    display:flex;
    justify-content: center;
    gap:25%;
    font-size:20px;
}
.txtins p{
	font-size: 20px;
	text-align: center;
}

.txtins   {
	position: relative;
	text-align: center;
}

.contacto{
	text-decoration: overline;
	padding-top: 130px;
    font-size:50px;
}

.mapita {
	text-align: center;
	padding-bottom: 100px;

}
.mapita2{
	border-radius: 19px;
	box-shadow: 0px 0px 14px 1px;
    width:50%;
    height:480px;
}
@media (max-width: 750px){
	.mapita2{
		width:100%;
		overflow: hidden;
	}
}
.social{
    display:flex;
    justify-content: center;
    gap:25%;
    align-items: center;
    margin-bottom:20px;
}
.social a{
    margin-top:-70px;
}

/*----------------------------------------textoaniamcion-------*/

.section-container section{
	align-items: center;
}

.section-container section h2 {
	margin: 16px 0;
}

.section-container  p{
	margin: auto;
	width: 60%;
	text-align: center;	
}
	
.rec2 {	
	width: 100%;
	height: 380px;
	background: #4c4d5c;
}

.contacto2{
	margin-left: 500px;
}


.google {
	position: absolute;
	margin-top: 50px;
	margin-left: 90px;
	height: 280px;
	width: 600px;
	border-radius: 1em;
}

.inputs{
	
	position: relative;
	left: 100px;
	width: 500px;
}


.inputs ul li {
	list-style: none;
	padding-bottom: 5px;
	margin-left: 20px;
	padding-top: 20px;

}

.nombre {
	position: relative;
	
}

.inputs input{
	width: 230px;
	height: 20px;
}

.textarea{
	width: 270px;
	height: 60px;
}

.inputs .boton {
	position: relative;
	left: 100px;
	width: 60px;
	height: 30px;
}

h2{
    font-size:15px;
	font-family: 'Quicksand', sans-serif;
	color: #b8b8b8;
}

.ep .ep2
{
    display: flex;
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

@media (max-width: 1000px){
	
	.ep{
		
        display: none;
        transition: .5s;
    }
    
    .menu.active .ep{
		
        display: block;
        transition: .5s;
		float: right;
    }
    .menu-toggle{
		padding: 1em;
        float: right;
        width: 20px;
        height: 20px;
        cursor: pointer;
        display: flex;
        justify-self: center;
        align-items: center;
        
    }
    .menu-toggle::before
    {
        content: '';
        width: 20px;
        background: var(--menu-toggle);
        border-radius: 5px;
        height: 2px;
        box-shadow: 0 6px 0 0 var(--menu-toggle);
        position: absolute;
        transition: .2s;
    }
    .menu-toggle::after
    {
        position: absolute;
        content: '';
        width: 20px;
        background: var(--menu-toggle);
        border-radius: 5px;
        height: 2px;
        box-shadow: 0 -6px 0 0 var(--menu-toggle);
        transition: .2s;
    }
    .menu.active .menu-toggle::after
    {
        box-shadow: 0 0px 0 0 var(--menu-toggle);
        transform: rotateZ(-45deg);
        transition: .2s;
    }
    .menu.active .menu-toggle::before
    {
        box-shadow: 0 0 0 0 var(--menu-toggle);
        transform: rotateZ(45deg);
        transition: .2s;
    }
}